// 绝对定位  参数：上,右,下,左
@mixin position-absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  @if ($left!="" and $left!=null) {
    left: $left;
  }
  @if ($right!="" and $right!=null) {
    right: $right;
  }
  @if ($top!="" and $top!=null) {
    top: $top;
  }
  @if ($bottom!="" and $bottom!=null) {
    bottom: $bottom;
  }
}